{% extends "crud/detail.html" %}
{% load i18n %}

{% block sections_nav %}
  <ul class="button-group left">
    <li><a href="{% url 'materialegislativa:detail' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Início' %}</a></li>
    <li><a href="{% url 'materia_anexada' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Anexada' %}</a></li>
    <li><a href="{% url 'autoria' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Autoria' %}</a></li>
    <li><a href="{% url 'despacho_inicial' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Despacho Inicial' %}</a></li>
    <li><a href="{% url 'documento_acessorio' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Documento Acessório' %}</a></li>
    <li><a href="{% url 'legislacao_citada' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Legislação Citada' %}</a></li>
    <li><a href="{% url 'numeracao' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Numeração' %}</a></li>
    <li><a href="{% url 'tramitacao_materia' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Tramitação' %}</a></li>
    <li><a href="{% url 'relatoria' materialegislativa.id %}" class="button radius tiny secondary center">{% trans 'Relatoria' %}</a></li>
  </ul>
{% endblock sections_nav %}
