Django<1.9
PyYAML
Unipath
django-admin-bootstrapped
django-bootstrap3
django-bower
django-braces
django-compressor
django-crispy-forms
django-extra-views
django-sass-processor
django-vanilla-views
djangorestframework
git+git://github.com/interlegis/trml2pdf.git
libsass
psycopg2
python-magic
pytz
