-r requirements.txt
coverage
django-webtest
model_mommy
pep8
pytest
pytest-cov
pytest-django
WebTest
robotframework-python3==2.8.6
decorator
docutils
selenium
https://github.com/vincentfretin/robotframework-selenium2library/archive/master.zip
