{% extends "protocoloadm/protocoloadm_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
	{% crispy form %}
{% endblock detail_content %}
{% block extra_js %}
	<script>
		$(function() {
			var dialog = $( "#modal_autor" ).dialog({
				autoOpen: false,
				modal: true,
				show: {
					effect: "blind",
					duration: 500				},
				hide: {
					effect: "explode",
					duration: 500
				}
			});

			$( "#button-id-limpar" ).click(function() {
				$("#nome_autor").text('');
				$("#id_autor").val(null);
			});

			$("#button-id-pesquisar").click(function() {
				$("#q").val('');
				$("#div-resultado").children().remove();
				$("#modal_autor").dialog( "open" );
				$("#selecionar").attr("hidden", "hidden");
			});

			$( "#pesquisar" ).click(function() {
					var query = $("#q").val()

					$.get("/proposicoes/pesquisar_autores?q="+ query, function(data, status){
					    //alert("Data: " + data + "\nStatus: " + status);

							$("#div-resultado").children().remove();

							var select = $('<select id="resultados" size="5"/>');

							for (i = 0; i < data.length; i++) {
									//console.debug(data[i]['id'] + '-' + data[i]['nome'])
									id = data[i]['id'];
									nome = data[i]['nome'];
									select.append($("<option>").attr('value',id).text(nome));
							}

							$("#div-resultado").append(select);
							$("#selecionar").removeAttr("hidden", "hidden");

							$("#selecionar").click(function() {
								  res = $("#resultados option:selected");
									id = res.val();
									nome = res.text();

									$("#id_autor").val(id);
									$("#nome_autor").text(nome);

									dialog.dialog( "close" );
							});

							//$("#div-resultado")
							//<select id="resultados"></select>
					});
			});

		});
	</script>
{% endblock %}
