{% extends "protocoloadm/protocoloadm_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
		<form method="post">
			{% csrf_token %}
			<fieldset>
			<legend>Pesquisa Avançada</legend>
				{% crispy form %}
				<input type="submit" value="Pesquisar" name="pesquisa" class="button primary"/>
			</fieldset>
		</form>	

		<button id="modal">Autor</button>

		<div id="autor-dialog-form" title="Selecionar Autor">
		  <form>
    		<fieldset>
      			<label for="name">Autor</label>
      			<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
      			<button id="pesquisar-autor">Pesquisar</button>
      			<select id="resultados-autor" style="height:30px;">

      			</select>
    			</fieldset>
  			</form>
		</div>
{% endblock detail_content %}

{% block foot_js %}
   <script type="text/javascript">
    	$(function () {
			$('.dateinput').fdatepicker({
				// TODO localize
				format: 'dd/mm/yyyy',
				language: 'pt',
				endDate: '31/12/2100',
				todayBtn: true
			});

			var dialog = $("#autor-dialog-form").dialog({
      			autoOpen: false,
      			height: 400,
      			width: 450,
      			modal: true,}
      		);

      		$("#pesquisar-autor").click(function() {
      			$.get("get_autor", {autor: $("#name").val()} )
      			 .done(function( data ) {
      			 	console.debug(data.id);
      			 });
      			return false;
      		});	

			$("#modal").click(function() {
				dialog.dialog("open");
			});
		});
	</script>
{% endblock %}