{% extends "protocoloadm/protocoloadm_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
		<form method="post">
			{% csrf_token %}
			<fieldset>
			<legend>Pesquisa Avançada</legend>
				{% crispy form %}
				<input type="submit" value="Pesquisar" name="pesquisa" class="button primary"/>
				<input type="hidden" id="autor" name="autor" />
			</fieldset>
		</form>	

		<button id="modal">Autor</button>

		<div id="autor-dialog-form" title="Selecionar Autor">
		  <form>
    		<fieldset>
      			<label for="name">Autor</label>
      			<input type="text" name="nome-autor" id="nome-autor" class="text ui-widget-content ui-corner-all">
      			<button id="pesquisar-autor">Pesquisar</button>
      			<select id="resultados-autor" style="height:40px;">
      			</select>
      			<button id="selecionar">Selecionar</button>
    			</fieldset>
  			</form>
		</div>
   <script type="text/javascript">
    	$(function () {

			var dialog = $("#autor-dialog-form").dialog({
      			autoOpen: false,
      			height: 500,
      			width: 550,
      			modal: true,}
      		);

      		$("#pesquisar-autor").click(function() {

      			$('#resultados-autor option').remove()

      			$.get("get_autor", {autor: $("#name").val()} )
      			 .done(function( data ) {
					$.each(data, function (item, value) {
    					$('#resultados-autor').append($('<option>', { 
        					value: value[0],
        					text : value[1]
    					}));
					});
      			 });
      			return false;
      		});

      		$("#selecionar").click(function() {
      			$("#nome-autor").val("aaaaa");
      			$("#autor").val($('#resultados-autor').val());      			
      			dialog.dialog("close");
      			return false; // nao submeter pagina ??? 
      		});	

			$("#modal").click(function() {
				dialog.dialog("open");
			});
		});
	</script>		
{% endblock detail_content %}